nav ul li{
    /* list-style: none; */
  /* padding-right: 70px; */
  padding-bottom: 0px;
    border: 3px solid black;
    /* justify-content: center; */
    /* text-align: center; */
    /* gap: 50px; */
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-family: "Work Sans";
    font-style: normal;
font-weight: 500;
line-height: 26px;

    
}
.navbar{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    /* width: 80vw; */
    /* gap: 673px; */
    justify-content: space-around;
    background-color:rgba(255, 144, 14, 0.10);
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* position: relative; */
    /* left: 850px; */
     margin-top: 100px;
    margin-right: 175px;
    gap: 70px;
    /* padding: 40px; */
    list-style: none;
    border: 3px solid black;
    /* padding: 0; */
    /* line-height: 26px; */
    

}
nav h1{
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
    /* margin-left: 293px; */
    margin-top: 109px;
    /* margin-right: 0px;
    margin-bottom: 0px; */
    /* width: 302px; */
    /* align-items: center; */
    text-align: center;
    font-family: "work sans";
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
    
}
*{
    margin: 0;
    padding: 0px;
}